* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364); /* Deep tropical feel */
  color: #fff;
}

.nav {
  background-color: #2e7d32;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.nav h1 {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.nav form {
  display: flex;
  justify-content: center;
}

.searchBox {
  flex-grow: 1;
  margin-right: 10px;
  border: none;
  font-size: 18px;
  padding: 10px;
  border-radius: 4px;
}

.searchBtn {
  border: none;
  font-size: 18px;
  padding: 10px;
  border-radius: 4px;
  background-color: #f44336;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s ease-out;
}

.searchBtn:hover,
.recipe button:hover,
.recipeCloseBtn:hover {
  background-color: #ff5c5c;
}

.recipeContainer {
  text-align: center;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 40px;
  width: 80%;
  margin: 10px auto;
  padding: 20px;
  place-items: center;
}

.recipe {
  background-color: white;
  display: flex;
  flex-direction: column;
  color: green;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(78, 73, 73, 0.1), -5px -5px 10px rgba(34, 34, 34, 0.5);
  cursor: pointer;
  max-width: 350px;
  transition: transform 0.5s ease-in-out;
}

.recipe:hover {
  transform: scale(1.02);
}

.recipe img {
  height: 300px;
}

.recipe h3 {
  font-size: 24px;
  margin-block: 5px;
}

.recipe p {
  font-size: 20px;
  color: #4a4a4a;
  margin: 5px 0;
}

.recipe span {
  font-weight: 600;
}

.recipe button {
  font-size: 20px;
  font-weight: 600;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin: 18px auto;
  background-color: #f44336;
  color: #fff;
}

.recipeDetails {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #d7274a;
  border-radius: 12px;
  width: 40%;
  height: 60%;
  font-size: 20px;
  transition: all 0.5s ease-in-out;
  overflow-y: scroll;
}

.recipeDetailsContent {
  padding: 30px;
}

.recipeName {
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
}

.ingredientList li {
  margin-top: 10px;
  margin-left: -20px;
}

.recipeInstructions {
  line-height: 30px;
  white-space: pre-line;
}

.recipeName,
.ingredientList,
.recipeInstructions {
  margin-bottom: 10px;
}

.recipeCloseBtn {
  border: none;
  font-size: 18px;
  padding: 8px;
  border-radius: 4px;
  background-color: yellow;
  color: #fff;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipeDetails::-webkit-scrollbar {
  width: 10px;
}

.recipeDetails::-webkit-scrollbar-thumb {
  background: #b5b5ba;
  border-radius: 16px;
}

body::-webkit-scrollbar {
  width: 16px;
}

body::-webkit-scrollbar-thumb {
  background: #a1a1a1;
}

body::-webkit-scrollbar-track {
  background: #ebebeb;
}

@media screen and (max-width: 600px) {
  .nav {
    flex-direction: column;
  }

  .nav form {
    width: 80%;
    margin-top: 20px;
  }
}